extends layout

block content
    .content.impressum.bgcolorIndex(style='padding-left:5%;padding-bottom:1%')
                ul
                    li
                        strong  1. Allgemeiner Vertragsinhalt
                p 1.1 Gerichtsstand ist Mainz
                p
                    | 1.2 Die Allgemeine Geschäftsbedingungen gelten für alle, auch zukünftige, Vertragsabschlüsse und Diestleistungsangebote der Firma Simple-Wash (Inh. R.Iddouch)Nachstehend als Simple-Wash genannt, gegenüber Ihren Kunden. Es gilt stets, die zum Zeitpunkt der Inanspruchnahme der Leistung gültige Ausgabe der AGB.
                p
                    | 1.3 Anderslautende AGBs seitens Dritter bilden keine Rechtsgrundlage.
                    br
                    |  Abweichenden Vorschriften der Kunden wird hiermit widersprochen.
                    br
                    |  Abweichende Bedingungen erkennt Simple-Wash nur an, wenn dies schriftlich vereinbart wurden.
                ul
                    li
                        strong  2. Vertragsinhalt und Vertragsschluss
                p
                    | 2.1 Simple-Wash ist eine mobile Reinigungsfirma sie bietet Ihren Kunden die Reinigung von KFZ vor Ort (Geparktes Fahrzeug)Sie bietet Innen- sowie Außenreinigung.
                p
                    | 2.2 Die Auftragserteilung durch den Kunden erfolgt mündlich am Auftragsort oder in einer Simple-Wash Station.
                p
                    | 2.3 Abweichungen und technische Änderungen des Reinigungsprozesses sowie der Reinigungsinhalte sind möglich.
                p
                    | 2.4 Der Kofferraum wird in dem Beladungszustand ausgesaugt bzw. gereinigt, in welchem er sich bei der Übergabe befindet.
                p
                    | 2.5 Simple-Wash kann, auch nach der Bestellannahme die Reinigung aufgrund ungünstig geparkter oder zu stark verschmutzter Fahrzeuge zu verweigern.
                p
                    | 2.6 Wenn der Auftrag durch Witterungsbedinungen( Starker Regen oder Schnee nicht ausgeführt werden kann, wird die bereits gezahlte Diesntleistungegebühr an den Kunden zurückgezahlt.
                    br
                    |  Eine alternativ Termin oder eine Teilreinigung ist natürlich nach Absprache möglich.
                p
                    | 2.7 Wir behalten uns das Recht einzelne Buchungen zu stonieren.
                ul
                    li
                        strong  3. Haftung und Schadensersatz Regelung
                p
                    | 3.1 Bitte stellen Sie sicher das alle Wertsachen aus dem Fahrzeug entnommen worden sind, für Verlust von Wertgegenständen jeder Art kann nicht gehaftet werden.
                p
                    | 3.2 Schadensersatzansprüche seitens des Kunden können nur dann geltend gemacht werden, wenn Simple-Wash oder einem seiner Mitarbeiter grobe Fahrlässigkeit oder Vorsatz nachgewiesen werden kann.
                p
                    | 3.3 Für jegliche Art von Schäden am Fahrzeug (dazu gehören Beulen, Kratzer Lackschäden, Steinschläge und sonstige Schäden), die vor der Fahrzeugübergabe an Simple-Wash entstanden sind oder durch die Reinigung verschlimmert wurden, kann Simple-Wash nicht zur Haftung herangezogen werden.
                p
                    | 3.4 Liegt ein Schaden vor, der nachweisbar Grob Fahrlässig von einem Mitarbeiter verursacht wurde, so muss dieses durch den Kunden ausführlich und nachvollziehbar dokumentiert werden. Sichtbare Schäden sind durch einen Fotobeweis zu belegen.
                p
                    | 3.5 Der Fahrzeugzustand kann vor Beginn der Dienstleistung innen und außen fotografische Details festgehalten werden. Die Fotos werden nach erbrachter Dienstleistung und Zahlung des Kunden unwiderruflich gelöscht. Mit der Zahlung erkennt der Kunde bzw. die für die Abholung des gereinigten Fahrzeugs beauftragte Person an, dass nach der Reinigung, keine durch Simple-Wash entstandenen Schäden am Fahrzeug entstanden sind.
                p
                    | 3.6 Sollte das Fahrzeug durch eine Schutzeinrichtung wie Z.B Alarmanlage ausgestattet sein, muss der Kunde sicherzustellen, dass die Alarmanlage nicht unbeabsichtigt ausgelöst werden kann. Für alle Schäden in Verbindung mit Schutzeinrichtungen kann Simple-Wash  nicht haftbar gemacht werden
                ul
                    li
                        strong  4. Preise
                p
                    | 4.1 Bei Privatkunden verstehen sich alle Preise inkl. MwSt. von 19%
                    br
                    |  Der Gewerbekunden Preis wird immer Netto angegeben.
                p
                    | 4.2 Preisaufschläge Z.B Bei sehr Stark verschmutzten Fahrzeugen werden immer vorher mündlich dem Kunden mitgeteilt.
                    br
                    |  Sollte der Kunden den Aufschlag nicht akzeptieren, zahlt Simple-Wash denn bereits bezahlten Betrag zu 100% zurück.
                ul
                    li
                        strong  5. Zahlungsbedingungen
                p
                    | 5.1 Wir akzeptieren PayPal, sowie Bar Zahlung. Bei Gewerbekunden ist nach vorheriger Absprache eine Kundenkonto möglich.
                p
                    | 5.2 Der Rechnungsversand erfolgt nach erfolgter Dienstleistung und Zahlung (bei Barzahlung) nach maximal 4. Arbeitstagen per Email.
                    br
                    |  Für den Versandt der Rechnung per Post erheben wir eine Gebühr von 1,99 € inkl. MwSt.
                ul
                    li
                        strong  6. Wiederruf und Storno
                p
                    |6.1 Bis zu 3 Stunden vor Deinem Termin kannst Du kostenfrei stornieren.
                p
                    |6.2 Sollte nicht min. 3 Stunden vor dem Termin storniert werden, berechnen wir 50% der Gesamtbuchung.
                p
                    |6.3 Sie können Ihre Vertragserklärung innerhalb von 14 Tagen ohne Angabe von Gründen in Textform (z. B. Brief, Fax, E-Mail) oder – wenn Ihnen die Sache vor Fristablauf überlassen wird – durch Rücksendung der Sache widerrufen. Die Frist beginnt nach Erhalt dieser Belehrung in Textform, jedoch nicht vor Eingang der Ware beim Empfänger (bei der wiederkehrenden Lieferung gleichartiger Waren nicht vor dem Eingang der ersten Teillieferung) und auch nicht vor Erfüllung unserer Informationspflichten gemäß Artikel 246 § 2 in Verbindung mit § 1 Abs. 1 und 2 EGBGB sowie unserer Pflichten gemäß § 312e Abs. 1 Satz 1 BGB in Verbindung mit Artikel 246 § 3 EGBGB. Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs oder der Sache. Der Widerruf ist zu richten an:
                p   Simple-Wash <br> Rohrbergstraße 3 <br> 65343 Eltville am Rhein
                p
                    |6.4 Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzugewähren und ggf. gezogene Nutzungen (z. B. Zinsen) herauszugeben. Können Sie uns die empfangene Leistung ganz oder teilweise nicht oder nur in verschlechtertem Zustand zurückgewähren, müssen Sie uns insoweit ggf. Wertersatz leisten. Bei der Überlassung von Sachen gilt dies nicht, wenn die Verschlechterung der Sache ausschließlich auf deren Prüfung – wie sie Ihnen etwa im Ladengeschäft möglich gewesen wäre – zurückzuführen ist. Im Übrigen können Sie die Pflicht zum Wertersatz für eine durch die bestimmungsgemäße Ingebrauchnahme der Sache entstandene Verschlechterung vermeiden, indem Sie die Sache nicht wie Ihr Eigentum in Gebrauch nehmen und alles unterlassen, was deren Wert beeinträchtigt. Paketversandfähige Sachen sind auf unsere Gefahr zurückzusenden. Sie haben die Kosten der Rücksendung zu tragen, wenn die gelieferte Ware der bestellten entspricht und wenn der Preis der zurückzusendenden Sache einen Betrag von 40 Euro nicht übersteigt oder wenn Sie bei einem höheren Preis der Sache zum Zeitpunkt des Widerrufs noch nicht die Gegenleistung oder eine vertraglich vereinbarte Teilzahlung erbracht haben. Anderenfalls ist die Rücksendung für Sie kostenfrei. Nicht brief- oder paketversandfähige Sachen werden bei Ihnen abgeholt. Verpflichtungen zur Erstattung von Zahlungen müssen innerhalb von 30 Tagen erfüllt werden. Die Frist beginnt für Sie mit der Absendung Ihrer Widerrufserklärung oder der Sache, für uns mit deren Empfang.
                p
                    |6.5 Das Widerrufsrecht besteht nicht bei Lieferung von Waren, die nach Kundenspezifikation angefertigt werden oder eindeutig auf die persönlichen Bedürfnisse zugeschnitten sind oder bei Lieferung von Audio- oder Videoaufzeichnungen oder von Software, sofern die gelieferten Datenträger von Ihnen entsiegelt worden sind.
                p
                    |6.6 Bitte vermeiden Sie Beschädigungen und Verunreinigungen. Senden Sie die Ware bitte möglichst in Originalverpackung mit sämtlichem Zubehör und mit allen Verpackungsbestandteilen an uns zurück. Verwenden Sie ggf. eine schützende Umverpackung. Wenn Sie die Originalverpackung nicht mehr besitzen, sorgen Sie bitte mit einer geeigneten Verpackung für einen ausreichenden Schutz vor Transportschäden, um Schadensersatzansprüche wegen Beschädigungen infolge mangelhafter Verpackung zu vermeiden.
                p
                    |6.7 Senden Sie die Ware bitte als frankiertes Paket an uns zurück und bewahren Sie den Einlieferbeleg auf. Wir erstatten Ihnen auch gern auf Wunsch vorab die Portokosten, sofern diese nicht von Ihnen selbst zu tragen sind.
                p
                    |6.8 Bitte beachten Sie, dass die vorgenannten Modalitäten nicht Voraussetzung für die wirksame Ausübung des Widerrufsrechts sind.
                p
                    |6.9 Machen Sie von Ihrem gesetzlichen Widerrufsrecht Gebrauch (siehe Widerrufsbelehrung), haben Sie die regelmäßigen Kosten der Rücksendung zu tragen, wenn die gelieferte Ware der bestellten entspricht und wenn der Preis der zurückzusendenden Sache einen Betrag von 40 Euro nicht übersteigt oder wenn Sie bei einem höheren Preis der Sache zum Zeitpunkt des Widerrufs noch nicht die Gegenleistung oder eine vertraglich vereinbarte Teilzahlung erbracht haben. Anderenfalls ist die Rücksendung für Sie kostenfrei.
                ul
                    li
                        strong  7 Sonstiges
                p
                    | 7.1 Sollten einzelne Bestimmungen dieses Vertrages unwirksam oder undurchführbar sein oder nach Vertragsschluss unwirksam oder undurchführbar werden, bleibt davon die Wirksamkeit des Vertrages im Übrigen unberührt. An die Stelle der unwirksamen oder undurchführbaren Bestimmung soll diejenige wirksame und durchführbare Regelung treten, deren Wirkungen der wirtschaftlichen Zielsetzung am nächsten kommen, die die Vertragsparteien mit der unwirksamen bzw. undurchführbaren Bestimmung verfolgt haben. Die vorstehenden Bestimmungen gelten entsprechend für den Fall, dass sich der Vertrag als lückenhaft erweist.
                p Gerichtsstand Mainz
