extends layout

block content
        meta(charset='UTF-8')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
        title Anfahrt und Öffnungszeiten

        div(style='padding-left:25%; background-color:#EAF1F1; padding-bottom:5%; padding-top:1%;')
            h2 So kommen Sie zu uns
            p
                | Sie finden uns unter der Adresse: Am Hofgut 1, 55268 Nieder-Olm
            iframe(style='border: 0;', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.133749841935!2d8.124426590584918!3d50.027589567950244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd952f26b7621f%3A0x641ddfb75673ba48!2sRohrbergstra%C3%9Fe+3%2C+65343+Eltville+am+Rhein!5e0!3m2!1sde!2sde!4v1455275911985', frameborder='0', width='600', height='450')
            h2 Öffnungszeiten
            p
                | Montag bis Freitag von 8.00 bis 18.00 Uhr
                | Mittagspause von 12.00  bis 12.30 Uhr
                | Samstags von 9.00 bis 14.00 Uhr
            h2 Entfernung:
            p
                | Wiesbaden 	25Km ca.30Min.
            p
                | Mainz 	15Km ca.20Min.
            p
                | Wörrstadt 	17Km ca.20Min.