extends layout
block content
    script(src='/js/jspdf.js')
    .row
        .col-sm-6
            form#new_company_request.simple_form(action='/contact', accept-charset='UTF-8', data-remote='true', method='post')
                #company_request_gender.field.genders
                    label(for='company_request_gender') Anrede
                    input#company_request_gender_male(value='male', name='gender', type='radio')
                    label.inline(for='company_request_gender') Herr
                    input#company_request_gender_female(value='female', name='gender', type='radio')
                    label.inline(for='company_request_gender') Frau
                .field
                    .left
                        input#company_request_name(placeholder='Vor- und Nachname des Ansprechpartners', name='name', type='text')
                    .right
                        input#company_request_email(placeholder='E-Mail-Adresse', name='email', type='text')
                    br.clear
                .field
                    .left
                        input#company_request_phone(placeholder='Telefonnummer', name='phone', type='text')
                    .right
                        input#company_request_company(placeholder='Unternehmen', name='company', type='text')
                    br.clear
                .field
                    input#company_request_position(placeholder='Position des Ansprechpartners im Unternehmen', name='position', type='text')
                .field
                    .left
                        input#company_request_city(placeholder='Standort/Standorte', name='city', type='text')
                    .right
                        input#company_request_zip(placeholder='PLZ', name='zip', type='text')
                    br.clear
                .field
                    .left
                        input#company_request_cars_count(placeholder='Anzahl Fahrzeuge', name='cars_count', type='text')
                    .right
                        input#company_request_employees_count(placeholder='Anzahl Mitarbeiter', name='employees_count', type='text')
                    br.clear
                .field
                    | Voraussichtliche Anzahl der Reinigungen
                    input#company_request_cleanings_count(placeholder='geschätzte Anzahl', name='cleanings_count', type='text')
                .field
                    input#company_request_monthly_true(value='true', checked='checked', name='monthly', type='radio')
                    label.inline(for='monthly_true') pro Monat
                    input#company_request_monthly_false.loffset(value='false', name='monthly', type='radio')
                    label.inline(for='monthly_false') pro Jahr
                .field
                    | Weitere Wünsche
                    textarea#company_request_comment(name='comment')
                .actions
                    input.button(name='commit', value='Anfrage absenden', type='submit')
        .col-sm-6
            iframe(style='border: 0;', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.133749841935!2d8.124426590584918!3d50.027589567950244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd952f26b7621f%3A0x641ddfb75673ba48!2sRohrbergstra%C3%9Fe+3%2C+65343+Eltville+am+Rhein!5e0!3m2!1sde!2sde!4v1455275911985', frameborder='0', width='600', height='450')
